{% extends 'main.html' %}
{% block content %}

<h2>cart</h2>

<table class="table">
    <thead>
        <tr>
            <th scope="col"></th>
            <th scope="col">Title</th>
            <th scope="col">Quantity</th>
            <th scope="col">Total</th>
        </tr>
    </thead>
    <tbody>
        {% for item in cart %}
        <tr>
            <td><img src="{{ item.product.image }}" alt="twbs" width="32" height="32" class="rounded-circle"></td>
            <th scope="row">{{ item.product.title }}</th>
            <td>{{ item.quantity }}</td>
            <td>{{ item.total_price | floatformat:2 }}$</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<h4>Total: {{ total | floatformat:2 }}$</h4>
<a href="{% url 'checkout' %}" class="active px-2 link-body-emphasis">Checkout</a>


{% endblock content %}